.ccard {
  width: 280px;
  height: auto;
  margin: auto;
  padding: 10px 0;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* border-radius: 8px; */
  border-bottom: 1px solid var(--border-color);
}

/* .top {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
} */

/* .closebtn {
  width: 30px;
  height: 30px;
  background-color: var(--escarlata);
  color: var(--claro-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
} */

/* .closebtn:hover {
  background-color: var(--bg-color);
  color: var(--escarlata);
  border: 1px solid var(--escarlata);
} */

.cimago {
  background-color: var(--claro-color);
  border-radius: 8px;
  /* margin: 20px 0; */
  text-align: center;
  border: 1px solid var(--border-color);
}

.cfigure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cimg {
  width: 100px;
  height: 100px;
}

.clittera {
  width: 80%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.crotulo {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

.cbtn {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clibera {
  width: 80%;
  height: 30px;
  background-color: var(--verde);
  border-radius: 8px;
  color: var(--claro-color);
  font-weight: bold;
  cursor: pointer;
}

.clibera:hover {
  border: 1px solid var(--escarlata);
  background-color: var(--bg-color);
  color: var(--escarlata);
}

@media (min-width: 1000px) {
  .rcard {
    width: 400px;
  }

  .rimg {
    width: 200px;
    height: 200px;
  }

  .rlittera {
    height: 150px;
    justify-content: center;
    align-items: center;
  }

  .rtxt {
    width: 100%;
    height: auto;
  }
}
