.rcard {
  width: 300px;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.top {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.closebtn {
  width: 30px;
  height: 30px;
  background-color: var(--escarlata);
  color: var(--claro-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.closebtn:hover {
  background-color: var(--bg-color);
  color: var(--escarlata);
  border: 1px solid var(--escarlata);
}

.rimago {
  background-color: var(--claro-color);
  border-radius: 8px;
  text-align: center;
}

.rfigure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rimg {
  width: 150px;
  height: 150px;
}

.rlittera {
  width: 80%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.rrotulo {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

.rtxt {
  height: 60px;
  width: 220px;
  font-size: 14px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}

.btn {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rcaptura {
  width: 80%;
  height: 50%;
  background-color: var(--bg-color);
  border-radius: 8px;
  color: var(--escarlata);
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.rcaptura:hover {
  background-color: var(--escarlata);
  color: var(--bg-color);
}

.rlibera {
  width: 80%;
  height: 50%;
  background-color: var(--bg-color);
  border-radius: 8px;
  color: var(--verde);
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.rlibera:hover {
  background-color: var(--verde);
  color: var(--bg-color);
}

@media (min-width: 1000px) {
  .rcard {
    width: 400px;
  }

  .rimg {
    width: 200px;
    height: 200px;
  }

  .rlittera {
    height: 150px;
    justify-content: center;
    align-items: center;
  }

  .rtxt {
    width: 100%;
    height: auto;
  }
}
