footer {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-size: medium;
}

.botonera-fit {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 30px;
  height: 60%;
  padding: 0;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--bg-color);
  font-size: large;
}

button:hover {
  border-radius: 8px;
  background-color: var(--claro-color);
  border: 2px solid var(--border-color);
}

.cinta {
  width: 100%;
  height: 40%;
  background-color: var(--oscuro-color);
  color: var(--bg-color);
  font-size: small;
  display: none;
}

@media (min-width: 1000px) {
  footer {
    height: 8vh;
    justify-content: flex-end;
    font-size: larger;
    background-color: var(--claro-color);
  }

  .botonera-fit {
    margin: 0;
    width: 96%;
    justify-content: flex-end;
    background-color: var(--bg-color);
    padding-right: 20px;
  }

  button {
    width: 50px;
    height: 50px;
    font-size: larger;
  }

  .cinta {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
