body,
div,
figure,
h1,
p,
input,
img,
h4 {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

.root {
  width: 100vw;
  height: 100vh;
}

:root {
  --bg-color: #e5e5e5;
  --border-color: #c5c5c5;
  --claro-color: white;
  --oscuro-color: black;
  --escarlata: #800000;
  --purple-shadow: rgba(93, 95, 239, 0.5);
  --verde: #008000;
}
